* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-width: 250px;
  background-color: #ffffff;
}

.nav_container {
  width: 100%;
  position: fixed;
  height: 100px;
  background-color: #1d3c4d;
  z-index: 1000;
}

.nav_container__sub {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 100px;
  height: 50px;
  object-fit: contain;
  z-index: 1000;
}

.nav_container__menu_icon {
  font-size: 40px;
  color: #ffffff;
  z-index: 1000;
}

.nav_container__exist {
  font-size: 40px;
  color: #ffffff;
  z-index: 1000;
}

.nav_container__list {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0vw;
  top: -100vh;
  background-color: #1d3c4d;
  transition: all 1s ease;
  z-index: 2000;
}

.nav_container__list_sub {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.nav_container__list_container {
  width: calc(50% - 10px);
  position: relative;
  height: 250px;
}

.nav_container__list_img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.nav_container__list_show {
  top: 0px;
}
.nav_container__list_remove {
  top: -100vh;
}

.nav_container__list_item {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  color: #ffffff;
}

.nav_container__icon {
  height: 100px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.banner_section {
  width: 100%;
  height: 50vh;
  position: sticky;
  top: 0px;
}

.banner_section__background {
  width: 100%;
  height: 100%;
  background-image: url("/photos/sunset_in_blankenberge.jpg");
  background-repeat: no-repeat;
  background-size: 1920px 1080px;
}

.portfolio_section {
  width: 100%;
  display: none;
}

.portfolio_section__sub_container {
  width: 100%;
  margin: 40px 0px;
}

.portfolio_section__content_paragraph {
  color: #282828;
}

.portfolio_section__title_header {
  color: #f7e1af;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;

  font-size: 30px;
}

.title_section {
  background-color: #ffffff;
  width: 100%;
  margin: 2rem;
  position: sticky;
  top: 0px;
}

.title_section__sub {
  width: 80%;
}

.photography_section {
  width: 100%;
  z-index: 1;
}

.photography_section__sub {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.photography_section__item {
  position: relative;
  width: 100%;
  height: 600px;
}

.photography_section__link {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  text-decoration: none;
  font-size: 24px;
  transform: translate(-50%, 50%);
  z-index: 3px;
}

.photography_section__link::first-letter {
  text-transform: capitalize;
}

.footer_section {
  width: 100%;
  height: 100px;
  background-color: #1d3c4d;
}

@media only screen and (min-width: 600px) {
  .nav_container__sub {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .nav_container__list_sub {
    width: 80vw;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    gap: 20px;
  }

  .nav_container__list_container {
    width: calc(50% - 20px);
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  .nav_container__list_container:hover .nav_container__list_img {
    transform: scale(1.2);
  }

  .nav_container__list_img {
    width: 100%;
    height: 200px;
    transition: transform 1s ease;
  }

  .portfolio_section {
    background-color: #ffffff;
    width: 100%;
    margin: 40px 0px;
    display: block;
    position: sticky;

    top: 0px;
  }

  .portfolio_section__sub_container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }

  .photography_section {
    width: 100%;
    position: sticky;
    top: 5vh;
    background-color: #ffffff;
    z-index: 10;
    padding: 50px 0px;
  }

  
  .photography_section__title  {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  
  .photography_section__heading  {
    color:black;
    padding: 2rem;

    
  }



  .photography_section__sub {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: 20px;
    flex-direction: row;
  }

  .photography_section__item:hover .photography_section__photos {
    transform: scale(1.1);
  }

  .photography_section__photos {
    width: 100%;
    object-fit: cover;
    transition: transform 0.4s ease;
  }

  .portfolio_section__item {
    width: 50%;
    background-color: black;
  }

  .portfolio_section__title {
    width: 30%;
    padding: 2rem;
  }
  .portfolio_section__title_photo {
    width: 100%;
    background-color: red;
  }

  .portfolio_section__content {
    width: 50%;
    padding: 2rem;
  }
}
